<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 작성폼</title>
</head>
<body>
    <div class="layout">
        <form action="/board/writedo" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            <input type="text" name="title" id="exampleFormControlInput1" placeholder="제목을 입력하세요">
        </div>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label><br>
            <textarea id="exampleFormControlTextarea1" name="content" rows="5">내용을 입력하세요</textarea>
        </div>
        <input type="file" name="file">
        <button type="submit">작성</button>
        </form>
    </div>
</body>
</html>