<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 - 목록</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table">
          <thead class="thead-light">
            <tr class="text-center">
              <th scope="col">글 번호</th>
              <th scope="col">제목</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="board : ${list}">
              <th scope="row">
                <span th:text="${board.id}"></span>
              </th>
              <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col">
              <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                  <a th:if="${page != nowPage}" th:href="@{/board/list(page=${page-1}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
                  <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
              </th:block>
          </div>
      </div>
      <div class="row">
          <div class="col-auto">
              <form th:action="@{/board/list}" method="get">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" name="searchKeyword" placeholder="검색어">
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-primary">검색</button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-auto">
              <a class="btn btn-primary" th:href="@{/board/write}" role="button">글쓰기</a>
          </div>
      </div>
    </div>
</body>
</html>
