<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'게시판 - ' + board.title}">게시판 - 타이틀</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h5 class="card-title" th:text="${board.title}">게시글 제목</h5>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${board.content}">게시글 내용</p>
                <small>첨부된 파일명: <span th:text="${board.filename}"></span></small>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col-auto">
                <a class="btn btn-info btn-lg" th:href="@{/board/download/{id}(id=${board.id})}">다운로드</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-danger btn-lg" th:href="@{/board/delete(id=${board.id})}">글 삭제</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-warning btn-lg" th:href="@{/board/modify/{id}(id=${board.id})}">글 수정</a>
            </div>
        </div>
    </div>
</body>
</html>
